<!DOCTYPE html>
<html ng-app="survey" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Asclepius</title>

    <link href="../static/css/design.css"
          th:href="@{/css/design.css}"
          rel="stylesheet" media="screen" />


    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.js"></script>

    <script type="text/javascript" src="../js/survey.js"
            th:src="@{/js/survey.js}"></script>

</head>
<body ng-controller="surveyController">

    <div>

        <form ng-submit="sendAnswers()" ng-controller="surveyController">

            <label for="age" >Koliko ste star?: </label><br />
            <input type="text" id="age" ng-model="surveyDto.age" /> <br />

            <label for="sex" >Koji je vaš rod?</label> <br />
            <select id="sex" ng-model="surveyDto.sex">
                <option value="muški">Male</option>
                <option value="ženski">ženski</option>
            </select><br /> <br />

            <span>Imate li kroničnu bolest?:</span><br />
            <label><input value="Da" type="radio" name="isChronic" ng-model="surveyDto.isChronic" />Da</label><br />
            <label><input value="Ne" type="radio" name="isChronic" ng-model="surveyDto.isChronic" />Ne</label> <br /><br />

            <label for="status" >Kakav je vaš trenutni status u vezi s virusom Korona-19?</label> <br />
            <select id="status" ng-model="surveyDto.status">
                <option value="Nemam simptomi">Nemam simptomi</option>
                <option value="Imam simptomi ali nisam uradio test">Imam simptomi ali nisam uradio test</option>
                <option value="Testirao sam pozitivno">Testirao sam pozitivno</option>
                <option value="Testirao sam negativno">Testirao sam negativno</option>
            </select><br /> <br />

            <span>Radite li u javnom sektoru?:</span><br />
            <label><input value="Da" type="radio" name="isKeyWorker" ng-model="surveyDto.isKeyWorker" />Da</label><br />
            <label><input value="Ne" type="radio" name="isKeyWorker" ng-model="surveyDto.isKeyWorker" />Ne</label> <br /><br />

            <input type="submit" value="Submit" />

        </form>
    </div>

</body>

<!--
WAYS FOR SPRING BOOT TO FIND THE LANDING PAGE:
https://javadeveloperzone.com/spring-boot/spring-boot-index-page-example/
-->
